.ul-offcanvas {
    display: block;
    height: 80%;
}

.ul-offcanvas li:first-child {
    margin-top: 50px;
}

.ul-offcanvas li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    transition-duration: 200ms;
    /* cursor: pointer; */
}

.ul-offcanvas li:hover {
    background-color: #8438380b;
}

.ul-offcanvas li:hover button {
    cursor: pointer;
    color: #922020c4;
    font-weight: bold;
    /* border-bottom: 1px solid #8438381b; */
}

.ul-offcanvas li button {
    width: 100px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: inherit;
    text-align: left;
}